*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 8px 8px 0 0;
    transform: translate(-50%,-50%);
    background: white;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}
.result{
    background-color: #413e3e;
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 20px;
    font-size: 20px;
}
.buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:1px;
}
.row{
    display: flex;
    justify-content: space-around;
    gap: 1px;
}
.row button{
    width: 75px;
    height: 75px;
    border-radius: 0 0 0 0;
    outline: none;
    border: papayawhip;
    font-size: 20px;
    text-align: center;
    transition: 0.2s all linear;
}
.row button:hover{
    background-color: #e0e0e0;
}
.row button:active{
    background-color: palevioletred;
}
#equal{
    width: 150px;
}

#dot{
    font-size: 550;
}































